
@font-face {
  font-family: "carnas";
  src: url("fonts/CarnasMedium.woff") format('woff');
}

.font-carnas{
  font-family: carnas;
}

.bg-azul-principal {
  background-color: #004794;
}

.bg-azul-secundario {
  background-color: #2980b9;
}

.bg-azul-terciario {
  background-color: #f2f8ff;
}

.pointer{
  cursor: pointer;
}

.tabela-sem-borda-externa {
  border-style: hidden;
}

.tabela-paginada {
    border-style: hidden;
    background-color: white;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}


.div-cabecalho-tabela-principal-table {
    border-collapse: collapse;
    border-style: hidden;
  }
  .div-cabecalho-tabela-principal-table td, table th {
    border: 1px solid black;
  }
  .div-cabecalho-tabela-principal-table tr:first-child th {
    border-top: 0;
  }
  .div-cabecalho-tabela-principal-table tr:last-child td {
    border-bottom: 0;
  }
  .div-cabecalho-tabela-principal-table tr td:first-child,
  .div-cabecalho-tabela-principal-table tr th:first-child {
    border-left: 0;
  }
  .div-cabecalho-tabela-principal-table tr td:last-child,
  .div-cabecalho-tabela-principal-table tr th:last-child {
    border-right: 0;
  }

.navbar-default {
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #dfdfdf 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #dfdfdf 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdfdfdf', GradientType=0);
}

.navbar-dark .navbar-nav .nav-link {

  color: #fff87f;

}

.required:after {
  content:" *"; 
  color: red;
}

/* Estilo da Modal (popup)*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 70%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#filterInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#filterableTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#filterableTable th, #filterableTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#filterableTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#filterableTable tr.header, #filterableTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.btn-main .btn3d:hover {
  -moz-box-shadow: inset 0 0 10px #fff;
  -webkit-box-shadow: inset 0 0 10px#fff;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  transition: .3s all;
  cursor: pointer;
}
.btn-primary-1 {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #357ebd, 3px 6px 8px 1px rgba(255,255,255,0.5);
}

.btn-info-1 {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #46b8da, 3px 6px 8px 1px rgba(255,255,255,0.5);
}
.btn-warning-1 {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 3px 6px 0 0 #eea236, 3px 6px 8px 1px rgba(255,255,255,0.5);
}

.btn-soft-danger {
    color: red;
    text-align: center;
    border: 1px solid #bfc0c1;
    background-color: #f9fbfc;
    padding: 7px 14px;
    font-style: italic;
    display: inline-block;
}

.btn-soft-primary {
    color: blue;
    text-align: center;
    border: 1px solid #bfc0c1;
    background-color: #f9fbfc;
    padding: 7px 14px;
    font-style: italic;
    display: inline-block;
}

.btn-soft-secondary {
    color: grey;
    text-align: center;
    border: 1px solid #bfc0c1;
    background-color: #f9fbfc;
    padding: 7px 14px;
    font-style: italic;
    display: inline-block;
}

.btn-text-secondary {
    border: 1px solid grey;
    color: grey;
    font-size: 12px;
    text-align: center;
    background-color: Transparent;
    padding: 5px 10px;
    font-style: italic;
    display: inline-block;
}

.btn-text-danger {
    border: 1px solid red;
    color: red;
    font-size: 12px;
    text-align: center;
    background-color: Transparent;
    padding: 5px 10px;
    font-style: italic;
    display: inline-block;
}
.btn-text-primary {
    border: 1px solid blue;
    color: blue;
    font-size: 12px;
    text-align: center;
    background-color: Transparent;
    padding: 5px 10px;
    font-style: italic;
    display: inline-block;
}
.text-green {
    color:#15af19;
    font-weight: bold;
}

.text-red {
    color:red;
}

tr {
    border: 1px double#ffffff;
}

.wrapper {
    width: 100%;
    text-align: center;
}
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  .card-signin {
    border: 0;
    background-color: #004794;
    box-shadow: 10px 10px 5px grey;
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
  
  .form-signin {
    width: 100%;
    margin-bottom: 0px;
  }
  
  .form-signin .btn {
    font-size: 80%;
    border-radius: 0.5rem;
    letter-spacing: .1rem;
    background-color: #ffa500;
    color: #000000;
    font-weight: bold;
    width: 30%;
    display: inline-block;
    padding: 1rem;
    transition: all 0.2s;
  }
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group input {
    border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .page-link {

    padding: .1rem .45rem;
    color: #007bff;
    background-color: #e8eaed;
    border: 1px solid #dee2e6;

}

  .first .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }

  .last .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }

  .pagination-container {
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }